<div class="container">
  <svg version="1.1" class="calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 283.5 283.5" xml:space="preserve">
<g class="panel_1">
	<g class="dot_line_1">
		<circle class="dot" cx="14.2" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][0]}"/>
		<circle class="dot" cx="42.5" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][1]}"/>
		<circle class="dot" cx="70.9" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][2]}"/>
		<circle class="dot" cx="99.2" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][3]}"/>
		<circle class="dot" cx="127.6" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][4]}"/>
		<circle class="dot" cx="155.9" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][5]}"/>
		<circle class="dot" cx="184.3" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][6]}"/>
		<circle class="dot" cx="212.6" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][7]}"/>
		<circle class="dot" cx="240.9" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][8]}"/>
		<circle class="dot" cx="269.3" cy="14.2" r="14.2" [ngClass]="{'active': dots[0][9]}"/>
	</g>
	<g class="dot_line_2">
		<circle class="dot" cx="14.2" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][0]}"/>
		<circle class="dot" cx="42.5" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][1]}"/>
		<circle class="dot" cx="70.9" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][2]}"/>
		<circle class="dot" cx="99.2" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][3]}"/>
		<circle class="dot" cx="127.6" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][4]}"/>
		<circle class="dot" cx="155.9" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][5]}"/>
		<circle class="dot" cx="184.3" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][6]}"/>
		<circle class="dot" cx="212.6" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][7]}"/>
		<circle class="dot" cx="240.9" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][8]}"/>
		<circle class="dot" cx="269.3" cy="42.5" r="14.2" [ngClass]="{'active': dots[1][9]}"/>
	</g>
	<g class="dot_line_3">
		<circle class="dot" cx="14.2" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][0]}"/>
		<circle class="dot" cx="42.5" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][1]}"/>
		<circle class="dot" cx="70.9" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][2]}"/>
		<circle class="dot" cx="99.2" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][3]}"/>
		<circle class="dot" cx="127.6" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][4]}"/>
		<circle class="dot" cx="155.9" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][5]}"/>
		<circle class="dot" cx="184.3" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][6]}"/>
		<circle class="dot" cx="212.6" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][7]}"/>
		<circle class="dot" cx="240.9" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][8]}"/>
		<circle class="dot" cx="269.3" cy="70.9" r="14.2" [ngClass]="{'active': dots[2][9]}"/>
	</g>
	<g class="dot_line_4">
		<circle class="dot" cx="14.2" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][0]}"/>
		<circle class="dot" cx="42.5" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][1]}"/>
		<circle class="dot" cx="70.9" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][2]}"/>
		<circle class="dot" cx="99.2" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][3]}"/>
		<circle class="dot" cx="127.6" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][4]}"/>
		<circle class="dot" cx="155.9" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][5]}"/>
		<circle class="dot" cx="184.3" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][6]}"/>
		<circle class="dot" cx="212.6" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][7]}"/>
		<circle class="dot" cx="240.9" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][8]}"/>
		<circle class="dot" cx="269.3" cy="99.2" r="14.2" [ngClass]="{'active': dots[3][9]}"/>
	</g>
	<g class="dot_line_5">
		<circle class="dot" cx="14.2" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][0]}"/>
		<circle class="dot" cx="42.5" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][1]}"/>
		<circle class="dot" cx="70.9" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][2]}"/>
		<circle class="dot" cx="99.2" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][3]}"/>
		<circle class="dot" cx="127.6" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][4]}"/>
		<circle class="dot" cx="155.9" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][5]}"/>
		<circle class="dot" cx="184.3" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][6]}"/>
		<circle class="dot" cx="212.6" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][7]}"/>
		<circle class="dot" cx="240.9" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][8]}"/>
		<circle class="dot" cx="269.3" cy="127.6" r="14.2" [ngClass]="{'active': dots[4][9]}"/>
	</g>
	<g class="dot_line_6">
		<circle class="dot" cx="14.2" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][0]}"/>
		<circle class="dot" cx="42.5" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][1]}"/>
		<circle class="dot" cx="70.9" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][2]}"/>
		<circle class="dot" cx="99.2" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][3]}"/>
		<circle class="dot" cx="127.6" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][4]}"/>
		<circle class="dot" cx="155.9" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][5]}"/>
		<circle class="dot" cx="184.3" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][6]}"/>
		<circle class="dot" cx="212.6" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][7]}"/>
		<circle class="dot" cx="240.9" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][8]}"/>
		<circle class="dot" cx="269.3" cy="155.9" r="14.2" [ngClass]="{'active': dots[5][9]}"/>
	</g>
	<g class="dot_line_7">
		<circle class="dot" cx="14.2" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][0]}"/>
		<circle class="dot" cx="42.5" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][1]}"/>
		<circle class="dot" cx="70.9" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][2]}"/>
		<circle class="dot" cx="99.2" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][3]}"/>
		<circle class="dot" cx="127.6" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][4]}"/>
		<circle class="dot" cx="155.9" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][5]}"/>
		<circle class="dot" cx="184.3" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][6]}"/>
		<circle class="dot" cx="212.6" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][7]}"/>
		<circle class="dot" cx="240.9" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][8]}"/>
		<circle class="dot" cx="269.3" cy="184.3" r="14.2" [ngClass]="{'active': dots[6][9]}"/>
	</g>
	<g class="dot_line_8">
		<circle class="dot" cx="14.2" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][0]}"/>
		<circle class="dot" cx="42.5" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][1]}"/>
		<circle class="dot" cx="70.9" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][2]}"/>
		<circle class="dot" cx="99.2" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][3]}"/>
		<circle class="dot" cx="127.6" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][4]}"/>
		<circle class="dot" cx="155.9" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][5]}"/>
		<circle class="dot" cx="184.3" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][6]}"/>
		<circle class="dot" cx="212.6" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][7]}"/>
		<circle class="dot" cx="240.9" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][8]}"/>
		<circle class="dot" cx="269.3" cy="212.6" r="14.2" [ngClass]="{'active': dots[7][9]}"/>
	</g>
	<g class="dot_line_9">
		<circle class="dot" cx="14.2" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][0]}"/>
		<circle class="dot" cx="42.5" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][1]}"/>
		<circle class="dot" cx="70.9" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][2]}"/>
		<circle class="dot" cx="99.2" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][3]}"/>
		<circle class="dot" cx="127.6" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][4]}"/>
		<circle class="dot" cx="155.9" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][5]}"/>
		<circle class="dot" cx="184.3" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][6]}"/>
		<circle class="dot" cx="212.6" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][7]}"/>
		<circle class="dot" cx="240.9" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][8]}"/>
		<circle class="dot" cx="269.3" cy="240.9" r="14.2" [ngClass]="{'active': dots[8][9]}"/>
	</g>
	<g class="dot_line_10">
		<circle class="dot" cx="14.2" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][0]}"/>
		<circle class="dot" cx="42.5" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][1]}"/>
		<circle class="dot" cx="70.9" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][2]}"/>
		<circle class="dot" cx="99.2" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][3]}"/>
		<circle class="dot" cx="127.6" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][4]}"/>
		<circle class="dot" cx="155.9" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][5]}"/>
		<circle class="dot" cx="184.3" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][6]}"/>
		<circle class="dot" cx="212.6" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][7]}"/>
		<circle class="dot" cx="240.9" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][8]}"/>
		<circle class="dot" cx="269.3" cy="269.3" r="14.2" [ngClass]="{'active': dots[9][9]}"/>
	</g>
</g>
</svg>

</div>
